<p class="automatic-decision">Automatic Decision: <span
  ng-class="{'accept_core': vm.record._extra_data.relevance_prediction.decision == 'CORE',
              'accept': vm.record._extra_data.relevance_prediction.decision == 'Non-CORE',
              'reject': vm.record._extra_data.relevance_prediction.decision == 'Rejected'}"
  ng-bind="vm.record._extra_data.relevance_prediction.decision + ' ' + (vm.record._extra_data.relevance_prediction.max_score | number : 2)"></span>
</p>

<div
  ng-if="vm.record._extra_data._action == 'hep_approval' && !vm.ingestion_complete">
  <button class="btn btn-success"
          ng-click="Utils.setDecision('accept_core')">Core
  </button>
  <button class="btn btn-warning"
          ng-click="Utils.setDecision('accept')">Accept
  </button>

  <button ng-if="vm.record.metadata.acquisition_source.method == 'submitter' && vm.record._extra_data.journal_coverage == 'full'"
          class="btn btn-danger-weak"
          ng-click="Utils.setRejectionReason()"
          uib-tooltip="The article belongs to a fully taken journal">Reject
  </button>
    <button ng-if="vm.record.metadata.acquisition_source.method == 'submitter'
                   && (!vm.record._extra_data.journal_coverage || vm.record._extra_data.journal_coverage == 'partial')"
            class="btn btn-danger"
            ng-click="Utils.setRejectionReason()">Reject
  </button>
    <button ng-if="vm.record.metadata.acquisition_source.method == 'hepcrawl' && vm.record._extra_data.journal_coverage == 'full'"
          class="btn btn-danger-weak"
          ng-click="Utils.setDecision('reject')"
          uib-tooltip="The article belongs to a fully taken journal">Reject
  </button>
  <button ng-if="vm.record.metadata.acquisition_source.method == 'hepcrawl'
                 && (!vm.record._extra_data.journal_coverage || vm.record._extra_data.journal_coverage == 'partial')"
          class="btn btn-danger"
          ng-click="Utils.setDecision('reject')">Reject
  </button>
</div>

<div ng-if="vm.record._extra_data._action == null || vm.ingestion_complete"
  class="text-muted">
    <span ng-class="vm.record._extra_data.user_action" ng-switch="vm.record._extra_data.user_action">
      <span ng-switch-when="reject">Rejected</span>
      <span ng-switch-when="accept">Accepted as Non-CORE</span>
      <span ng-switch-when="accept_core">Accepted as CORE</span>
    </span>
  <p>No further actions available</p>
</div>

<div ng-if="vm.record._extra_data.matches.fuzzy && vm.record._workflow.data_type === 'hep' 
            && vm.record._workflow.status === 'HALTED' && vm.record._extra_data._action == 'match_approval'"
            class="matches-container">
    <div ng-if="!matchDecisionMade" ng-init="vm.selectedBestMatch = vm.record._extra_data.matches.fuzzy[0]">
        <p class="sub-heading">Possible Matches</p>
          <div class="matchingRecords" ng-repeat="match in vm.record._extra_data.matches.fuzzy">
            <input id="{{match}}" ng-model="vm.selectedBestMatch" name="possible-matches" type="radio" value="{{match}}"> 
            <label for="{{match}}" class="custom-control-description">
                literature/{{match}}
            </label>
            <a href="/literature/{{match}}" target="_blank">
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </div>
          <div>
            <button class="btn btn-primary best-match" type="submit"
              ng-click="Utils.onBestMatchSelected()"> Best Match
            </button>
            <button class="btn btn-primary no-match" ng-click="Utils.onNoMatchSelected()">
              None of these
            </button>
          </div>
     </div>
    <div ng-if="matchDecisionMade">
      <p ng-if="matched"><i class="fa fa-check" aria-hidden="true"></i> Record was matched</p>
      <p ng-if="!matched">No Matches</p>
    </div>
</div>

<div class="clearfix"></div>
<br/>
<div class="decision-keywords">
  <p>
    <p>
      {{Utils.keys(vm.record._extra_data.classifier_results.complete_output['core_keywords']).length}} core keywords from {{vm.record._extra_data.classifier_results.fulltext_used ?'fulltext' : 'metadata'}}.
    </p>
    <p ng-init="filteredKeywordCount = Utils.keys(vm.record._extra_data.classifier_results.complete_output['filtered_core_keywords']).length">
      {{filteredKeywordCount}} Filtered{{filteredKeywordCount > 0 ? ' :' : ''}}
    </p>
  </p>
  <div class="list">
    <div class="row"
         ng-repeat="keyword in vm.record._extra_data.classifier_results.complete_output['filtered_core_keywords']">
      <div class="col-md-9 col-sm-9 text-left"
           ng-bind="keyword['keyword']"></div>
      <div class="col-md-3 col-sm-3 text-right"><span
        class="label label-success"
        ng-bind="keyword['number']"></span>
      </div>
    </div>
  </div>
  </p>
</div>
